<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="searchHospitals(input.value)" type="text" class="form-control" placeholder="buscar hospital...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="isLoading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>


    </div>
</div>


<div class="row animated fadeIn" *ngIf="!isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">hospitales registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitals">
                            <td class="w70"> <img [src]="hospital.img | imagen:'hospitales' " alt="" class="img-circle w50 pointer" (click)="showModal(hospital._id)"></td>
                            <td>
                                <input type="text" name="name" [(ngModel)]="hospital.name" class="form-control">

                            </td>
                            <td>
                                <button class="btn btn-primary mr-2" (click)="uploadHospital(hospital)">
                                    <i class=" fa fa-save "></i>
                                    </button>

                                <button class="btn btn-danger " (click)="deleteHospital(hospital) ">
                                    <i class="fa fa-trash-o "></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="loadMore(-5) " class="btn btn-secondary mr-2 ">
                    Anterior
                </button>
                <button (click)="loadMore(5) " class="btn btn-secondary ">
                    Siguientes
                </button>
                <button class="btn btn-primary btn-block mt-2" (click)="saveHospital()">Agregar hospital</button>
            </div>
        </div>
    </div>
</div>